html {
  font-family: arial;
}
html:has(.home), body:has(.home) {
  width: 100%;
  height: 100%;
}
.header {
  --padding: 10px;

  position: fixed;
  left: 0;
  top:  0;
  z-index: 9999;
  width: calc(100% - var(--padding)*2);
  padding: var(--padding);
  
  background: grey;
  color: white;
}
#title {
  padding: 0 5px;
  border-radius: 5px;

  font-size: 30px;
  font-weight: 600;

  color: darkorange;
  text-decoration: none;
  
  background: white;
}
#title:active {
  color: darkred;
}
#title > span {
  font-weight: 300;
  color: black;
}
#title:active > span {
  font-weight: 300;
  color: #333333;
}
.option {
  --dotpoint: 5px;
  vertical-align: center;
  
  margin: 0 var(--dotpoint);
}
.option > a {
  color: lightgray;
  text-decoration: none;
}
.option:not(.last)::after {
  position: relative;
  left: var(--dotpoint);
  content: "•";
}
#body {
  position: relative;
  top: 60px;
  left: 20px;
}
.fyp {
  text-align: center;
}
.videoy {
  display: inline-block;
  width: 300px;
  margin: 10px;
  text-align: left !important;
  color: black;
  text-decoration: none;
}
.videoy > span:not(.thumby) {
  padding: 2px; 
}
.thumby {
  display: inline-block;
  width: 246px;
  height: 181px;

  border-top:  solid 5px grey;
  border-left: solid 5px lightgrey;
  
  background-size: cover;
  background-position: center; 
  background-image: url(https://i.ytimg.com/);
}
.thumby:active {
  border-top:  none;
  border-left: none;
  padding: 5px 5px 0 0;
}

.home {
  display: inline-block;
  
  position: relative !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
}
.home > p {
  width: 400px;
}
